<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{#meta.title}}{{meta.title}} - {{/meta.title}}{{config.site_title}}</title>
{{#meta.description}}
<meta name="description" content="{{meta.description}}">{{/meta.description}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="sogou_site_verification" content="b2578Vko5K"/>
<meta name="baidu-site-verification" content="6eFwgTF4gE" />
<meta name="360-site-verification" content="6d26de11f2c4492e3eaa4bc141666bb3" />
<meta name="google-site-verification" content="SZKkJt3Ofsx6GdbSsjxupkbO4fjXryaXJMviJ49QwjA" />
<link rel="shortcut icon" href="{{config.base_url}}/favicon.ico">
<link rel="stylesheet" href="http://static.icoding.tech/boostrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{{config.base_url}}/styles/raneto.css"> {{{config.analytics}}}
